# Kaggle / Veri setleri
*.zip

# Python
__pycache__/
*.pyc

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual Environment (varsa)
venv/
env/
.env

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db

# CatBoost Logs
catboost_info/

# Temporary Scripts
*.py
